.react-nano-scrollbar {
  &-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
  }

  &-x,
  &-y {
    position: absolute;
    border-radius: 5px;
    background: #111;
    transition: 0.1s opacity, width, height ease-in-out;
    cursor: pointer;
  }

  &-track-x {
    position: absolute;
    left: 0;
    right: 0;
    height: 12px;
    bottom: 0;
    z-index: 9999;
    opacity: 0.5;

    &:hover,
    &.react-nano-scrollbar-active {
      opacity: 1 !important;

      .react-nano-scrollbar-x {
        height: 10px;
      }
    }

    .react-nano-scrollbar-x {
      bottom: 2px;
      height: 7px;
    }
  }

  &-track-y {
    position: absolute;
    right: 0;
    width: 12px;
    top: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0.5;

    &:hover,
    &.react-nano-scrollbar-active {
      opacity: 1 !important;

      .react-nano-scrollbar-y {
        width: 10px;
      }
    }

    .react-nano-scrollbar-y {
      right: 2px;
      width: 7px;
    }
  }

  &-content {
    overflow: auto;

    /* Hide scrollbars */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

.react-nano-scrollbar-autohide {
  .react-nano-scrollbar {
    &-track-x,
    &-track-y {
      opacity: 0;
      transition: 0.1s opacity, width, height ease-in-out;
    }
  }

  &:hover,
  &.react-nano-scrollbar-moving {
    .react-nano-scrollbar {
      &-track-x,
      &-track-y {
        opacity: 0.5;
      }
    }
  }
}
